<!DOCTYPE html>
<html>
<head>
    <title>The AJAXson 5</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div id="mount-point">
        <header>
        <h1>The AJAXson 5</h1>

        <form>
            <label>What kind of Jackson 5 related gif do you want?</label>
                <input name="tag" type="text" v-model="userInput"/>
                <p id="style">Prove you are not a robot by answering this riddle:</p>
                <input name="validation" type="text" size="1" v-model="validate">
                <b id="style"> Jacksons are better than 1!</b>
            <br>
            <br>
            
            <input type="submit" value="Get my Gif!" @click.prevent="fetchGif"/>
           
        </form>
        </header>
        <img id="gif" v-bind:src="imgSrc" v-if="imgSrc"/>
        <p v-if="loading">
            Loading...
        </p>

        
        
        <p id="feedback" v-if="errorMessage">
            {{ errorMessage }}
        </p>
    </div>
    <script type="text/javascript" src="request-gif.js"></script>
</body>
</html>
